
/*utilities*/
*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*utilities*/


/*DEBUG*/

.debug .comunication , .debug .channel, .debug .chat,
.debug .comunity, .debug .low_latency, .debug .end_main, .debug .left, .debug .right, .debug .talk,
.debug .product, .debug .company, .debug .resources,.debug .norms
{
    border: 1px dashed;
}

.debug header{
   background-color: aqua;
    height: 80px;

}
.debug .channel{
    height: 725px;
    background-color: rgb(16, 119, 16);

}
.debug .container
{
    height: 548px;
    width: 100%;
    background-color: blue;
}
.debug .chat {
    height: 856px;
    background-color: chocolate;
}
.debug .comunity{
    height: 754px;
    background-color: orchid;

}
.debug .low_latency{
    background-color: goldenrod;
     height: 1312px;

}
.debug .end_main{
     height: 484px;
     background-color: darkseagreen;
}
.debug footer{
    height: 173px;
    background-color: blanchedalmond;
}
.debug .left, .debug .right{
    background-color: blueviolet;
    width: 60%;
    margin-top: 30px;
    margin-bottom: 30px;
 

}
.debug .right{

    width: 30%;
   

}
.debug .product, .debug .company, .debug .talk, .debug .resources, .debug .norms{
background-color: black;
color: white;
height: 400px;
}
.debug footer{
    background-color: aqua;
}

/*DEBUG*/



.channel{
    
    justify-content: space-around;
    display: flex;
}

.chat{
     justify-content: space-around;
    display: flex;
    flex-direction: row-reverse;
}


.comunity{
    
    display: flex;
    justify-content: space-around;
    margin-top: 300px;

}




.logo{
    display: flex;
    justify-content: space-around;
    background-color: #3161e0;
    align-items: center;
    
}


.title_paragraph{
    text-align: center;
    
    .title{
        margin-top: 80px;
        margin-bottom: 25px;
    }
    .paragraph{
       text-align: center;
       width: 50%;
       margin: auto;
       
    }
    .adventure{
        background-image: url(../img/stars.svg);
    
    }
    .dwn-mac{
        background-color: #8ea1e1;
        color: white;
           border: 0;
        margin-top: 20px;
        border-radius: 16px;
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 10px;
        padding-bottom: 10px;
    }
}


    

.talk{
       width: 20%;
       margin: auto;

}


.company, .product,.company, .resources, .norms{
     width: 10%;
    margin: auto;
    
}



.end_main{
    display: flex;
    margin-top: 10px;
    background-color: #23272a;
    padding-bottom: 100px;

    .talk{
        width: 10%;
       margin-bottom: 10px;
      
    }
    img{
        height: 15px;
        margin-top: 15px;
    }
    h4{
        color: #7289da;
        margin-bottom: 10px;
    }
}
ul{
    
    color: white;
    list-style: none;
}
li{
    margin-bottom: 10px;
}
.company, .product, .talk{
    margin-top: 20px;
}


}


.final{
    display: flex;
    justify-content: space-around;
}
nav{
    color: white;
    
}
a{
    margin-right: 30px;
}
.access{
    border-radius: 14px;
   padding-left: 5px;
   padding-right: 5px;
   /*margin-top: 3px;
   align-items:*/
   border: 0px;
}
.comunication{
    background-image:url(../img/jumbo.png);
    background-size: contain;
    background-repeat: no-repeat;


   

    
    
}
.container{
    padding-top: 100px;
    padding-bottom: 350px;
    
    .title{
        color: white;
        text-align: center;
        margin-bottom: 40px;
    }
    .presentation{
        color: white;
        text-align: center;
        width: 30%;
        margin: auto;
    }
    
}
body{
    font-family: Arial, Helvetica, sans-serif;
}
.button{
    text-align: center;
    .dwn-mac, .discord-web{
        border: 0;
        margin-top: 20px;
        border-radius: 16px;
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 10px;
        padding-bottom: 10px;
        
    }
    .dwn-mac{
        background-color: white;
    }
    .discord-web{
        background-color:#23272a;
        color: white;
        margin-left: 15px;

    }
}

.logo{
    padding-top: 10px;
}
.left{
    width: 30%;
    margin: auto;

}
.right{
    width: 15%;
    margin: auto;
   
    
}
.chat{
    /*background-image: url(../img/wave2.svg);*/
    margin-top: 300px;
    display: flex;
    justify-content: space-around;
 .left{
    margin-left: 30px;
 }
 .right{
    padding-top: 100px;
    margin-right: 10px;
 }
   

    
}

